.task-details-conteiner{
    background: #444;
    margin: 15px;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    color: #eee;
    border-radius: 5px;
}
.task-details-conteiner h2{
    margin-bottom: 5px;
    color: chartreuse;
}
.back-button-conteiner{
    width: 30%;
    margin-top: 10px;
}